@model FIS_174867.Models.CoursesTaught

@{
    ViewBag.Title = "CreateCourseTaught";
    Layout = "~/Views/Shared/facultylayout.cshtml";
}

<h2>CourseTaught</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CoursesTaught</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CourseID, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CourseID, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.DropDownList("CourseID", (SelectList)TempData["Course"], htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("CourseID", (IEnumerable<SelectListItem>)TempData["Course"], "Select Course", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FacultyID, "Faculty ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.FacultyID, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.DropDownList("FacultyID", null, htmlAttributes: new { @class = "form-control" })*@
                <h4><b>@Session["UserID"]</b></h4>
                @Html.ValidationMessageFor(model => model.FacultyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubjectID, "Subject", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SubjectID, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.DropDownList("SubjectID", (SelectList)TempData["Subject"], htmlAttributes: new { @class = "form-control" })*@
                @Html.DropDownList("SubjectID", (IEnumerable<SelectListItem>)TempData["Subject"], "Select Subject", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstDateTaught, "First Date Taught", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstDateTaught, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstDateTaught, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexCourseTaught")
</div>
