@model IEnumerable<FIS_174867.Models.Faculty>

@{
    ViewBag.Title = "IndexFacultyinfo";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h2>Faculty Information</h2>

@using (Html.BeginForm())
{
    <h3>
        <input type="text" name="div" />
        <input type="submit" value="Filter With FacultyID" class="btn btn-info" />
    </h3>
}
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("FacultyID")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.User.UserName)*@
            User Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            First Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MobileNo)*@
            Mobile Number
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HireDate)*@
            Hire Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EmailAddress)*@
            Email Address
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DateofBirth)*@
            Date Of Birth
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Department.DeptName)*@
            Department Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Designation.DesignationName)*@
            Designation Name
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UsersID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateofBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation.DesignationName)
        </td>

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FacultyID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FacultyID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FacultyID })
        </td>*@
    </tr>
    }

</table>
