@model IEnumerable<FIS_174867.Models.Subject>

@{
    ViewBag.Title = "IndexSubject";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}

<h2>Display Subject</h2>

@using (Html.BeginForm())
{
    <h3>
        <input type="text" name="div" />
        <input type="submit" value="Filter With Subject Name" class="btn btn-info" />
    </h3>
}
<p>
    @Html.ActionLink("Create New", "CreateSubject")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.SubjectID)*@
            Subject ID
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SubjectName)*@
            Subject Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSubject", new { id = item.SubjectID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.SubjectID }) |*@
            @Html.ActionLink("Delete", "DeleteSubject", new { id = item.SubjectID })
        </td>
    </tr>
    }

</table>
